
<app-menu></app-menu>
<router-outlet></router-outlet>


































































<!-- <div class="text-layout">
    <h1>{{ nombre | titlecase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ obj | json }}</h1>
</div>

<button pButton
        (click)="mostrarNombre()"
        label="Cambiar nombre"
        icon="pi pi-bell" 
        iconPos="right"
        class="p-button-help"></button>
<hr>
<p-card [header]="nombre | titlecase"
        subheader="Este es un subheader">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fugiat enim accusamus ex, delectus beatae placeat. Ex, pariatur! Nihil unde sint odit asperiores excepturi ipsam ipsa libero ullam molestiae eum.
</p-card> -->